/* You can add global styles to this file, and also import other style files */
.sidebar-dark-primary .sidebar span {
  color: #c2c7d0;
}

.table {
  width: 100% !important;
}

.table tr {
  cursor: pointer;
}

.table .info {
  background: none repeat scroll 0 0 #ffcf8b !important;
  color: #000000 !important;
  cursor: pointer;
}

